name: Build, scan and push docker images

on:
  push:
    branches:
      - master
      - dev
    tags:
      - v*

jobs:
  docker:
    runs-on: ubuntu-18.04
    timeout-minutes: 300

    steps:
      - uses: actions/checkout@v1

      - name: Setup ssh-agent
        uses: webfactory/ssh-agent@v0.4.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install Trivy
        run: |
          sudo apt-get -y install curl
          VERSION=$(
              curl --silent "https://api.github.com/repos/aquasecurity/trivy/releases/latest" | \
              grep '"tag_name":' | \
              sed -E 's/.*"v([^"]+)".*/\1/'
          )

          wget https://github.com/aquasecurity/trivy/releases/download/v${VERSION}/trivy_${VERSION}_Linux-64bit.tar.gz
          tar zxvf trivy_${VERSION}_Linux-64bit.tar.gz
          sudo mv trivy /usr/local/bin/

      - name: Build image
        run: |
          export DOCKER_BUILDKIT=1
          docker build -t app:latest --ssh default .

      - name: Scan image
        run: trivy --exit-code 0 --no-progress app:latest

